@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #1f2026;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #b3b6c2; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #b3b6c2; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b6c2; /* Color of the thumb on hover */
}

/* Firefox scrollbar styles */
.scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #888 #2d2d34; /* Thumb color and track color */
}
